.contenedor_formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    border-radius: 1rem;
    form{
        font-size: 1.2rem;
    }
    div{
        input{
            font-size: 1.2rem;
            padding: 10px;
            border-radius: 1rem;
            width: 100%;
        }
        textarea{
            font-size: 1.2rem;
            padding: 10px;
            border-radius: 1rem;
            width: 100%;
        }
    }
}
