@media screen and (max-width: 480px) { 
    .titulo_index h1{
        font-size: 1.5rem;
    }
    .titulo2_index {
        top: 10%;
        left: 8%;
        font-size: 1.7rem;
        text-shadow: 2px 2px 7px rgba(255, 255, 23, 1);
    }
    .cuerpo_index h2{
        font-size: 1.7rem;
        padding: 1.2rem;
    }
    .cuerpo_nuestraHistoria{
            h2{
            font-size: 1.7rem;
            margin: 0rem;
            margin-top: 3.125rem;
            margin-bottom: 1.25rem;
        }
            p{
            font-size: 1.2rem;
            width: 100%;
        }
        &_contenedor{
            img{
                width: 100%;
            }
        }
    }
    .portada_nuestraHistoria img{
        object-position:40%;
    }
    .cuerpo_encontranos {
        h2{
            font-size: 1.7rem;
            margin-left: 0;
        }
        p{
            font-size: 1.2rem;
        }
    }
    .portada_encontranos img{
        object-fit:cover;
        height: 43.75rem;
    }

    .cuerpo_contacto {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
            h2{
                margin: 0;
            }
            h3{
                margin: 0;
                margin-bottom: 1.25rem;
            }
            h4{
                margin: 0;
                margin-bottom: 1.875rem;
            }
    }
    .contenedor_formulario img{
        width: 100%;
    }
    .cuerpo_model{
        padding: 0.625rem;
        margin-top: -3.125rem;
        &_contenedor{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &_calecita{
                width: 100%;
            }
            .primeraDescripcion{
                margin-top: 1.875rem;
                width: 100%;
        }
        }
    }
@media screen and (max-width: 350px){
    .logo{
        img{
            width: 6.813rem;
        }
        .text{
            font-size: 1.57rem;
        }
    }
    .titulo_index h1{
        font-size: 1.2rem;
    }
    .titulo2_index {
        font-size: 1.2rem;
    }
    .cuerpo_index h2{
        font-size: 1.5rem;
        padding: 1.2rem;
    }
    .cuerpo_vehiculos_estructura{
        gap:1.25rem ;
    }
    .card_vehiculos{
        height: 20rem;
        width: 18rem;
        margin: 0.625rem;
    }
    .card_destacados_vehiculos{
        height: 20rem;
        width: 18rem;
        margin: 0.625rem;
    }
    .portada_nuestraHistoria img{
        margin-top: -5rem;
    }
    .cuerpo_nuestraHistoria{
        padding-right: 0.625rem;
        padding-left:0.625rem;
    }
    .cuerpo_encontranos{
        padding-right: 0.625rem;
        padding-left:0.625rem;
    }
    .cuerpo_contacto{
        padding-right: 0.625rem;
        padding-left:0.625rem;
    }
}
}
@media screen and (max-width: 275px){
    .card_destacados{
        height: 18rem;
        width: 16rem;
        margin: 0.625rem;
    }
    .card_vehiculos{
        height: 18rem;
        width: 16rem;
        margin: 0.625rem;
    }
    .card_destacados_vehiculos{
        height: 18rem;
        width: 16rem;
        margin: 0.625rem;
    }
}