@media screen and (max-width: 1182px) {
    .contenedor_formulario img {
        width: 55%;
    }
}

@media screen and (max-width: 938px) {
    .contenedor_formulario {
        justify-content: center;
    }

    .contenedor_formulario img {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    body {
        background-color: black;
    }

    body nav {
        background-color: black;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .logo {
        margin-left: 0px;
    }

    .titulo_index h1 {
        font-size: 2rem;
    }

    .titulo2_index {
        font-size: 2rem;
    }

    .portada_vehiculos {
        &_desk {
            display: none;
        }

        &_mob {
            object-fit: cover;
            width: 100%;
            display: block;
            height: 100vh;
        }
    }
    .cuerpo_nuestraHistoria{
        p{
            font-size: 1.2rem;
            width: 100%;
        }
    }
    .portada_encontranos img{
        margin-top:-20px ;
    }
    .cuerpo_contacto{
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.4rem;
        }
    }
}