.cuerpo_model{
    grid-area: seccion;
    background-color: $colorFondo ;
    padding: 2.4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_contenedor{
        display: flex;
        max-width: 75rem;
        gap: 1%;
        &_calecita{
            width: 70%;
            img{
                width: 100%;
                border-radius: 1rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0.122rem 0.122rem 0.163rem;
            }
        }
    }
        .primeraDescripcion{
            background-color: $color3;
            width: 30%;
            border-radius: 1rem;
            padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0.122rem 0.122rem 0.163rem;
            p{
                font-size: 1.6rem;
                color:$colorLetraTex;
                margin: 0.625rem;
            }
            .letratitu{
                color: $colorDestacado;
                font-size: 1.9rem;
                margin-bottom: -0.188rem;
            }
            .letraSecun{
                font-size: 1.2rem;
                color: $colorFooterletra;
            }
            .linea{
                height: 0.063rem;
                background-color: rgba(0, 0, 0, 0.332);
                width: 95%;
                margin: 0.625rem;
            }
        }
        .segundaDescripcion{
            background-color: $color3;
            max-width: 75rem;
            width: 100%;
            border-radius: 1rem;
            margin-top: 30px;
            padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0.122rem 0.122rem 0.163rem;
            h5{
                font-size: 1.9rem;
                color:$color2;
            }
            p{
                color: $colorFooterletra;
                font-size: 1.2rem;
                i{
                    margin-right: 5px;
                    color: blueviolet;
                }
            }
        }
        .volver{
            background-color: $colorPrimario;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 2rem;
                color: $colorDestacado;
            }
            &:hover{
                background-color: $colorDestacado;
                transition: 0.5s;
                i{
                    color: $colorPrimario;
                    transition: 1s;
                }
            }
        }
    }
    .contenedor_red{
        display: flex;
        flex-direction: column;
        align-items: center;
        .red_contacto{
            background-color: $colorPrimario;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0.5rem;
            margin-top: 1.2rem;
            margin-bottom: 0.5rem;
            &:hover{
                background-color: $colorDestacado;
                a{
                    color: white;
                }
            }
            a{
                text-decoration: none;
                color: $colorLetraTex;
                font-size: 1.2rem;
                i{
                    margin-right: 0.313rem;
                    padding: 0.5rem;
                    border-radius: 30%;
                }
            }
        }
    }
$contacto:(
    whatsapp: #25D366,
    telegram: #34B7F1,
);
@each $redsocial, $colorred in $contacto{
    .fa-#{$redsocial}{
        background-color: $colorred;
    }
}
