.botonArriba{
    position: fixed;
    bottom: 1.25rem;
    right: 0.313rem;
    z-index: 1;
    background-color: $colorDestacado;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    img{
        width: 2.5rem;
        margin-top: -0.156rem;
    }
    &:hover{
        background-color: $colorPrimario;
    }
}