#boton_footer{
    font-size: 1.2rem;
    background-color: $colorPrimario ;
    border-radius: 1rem;
    padding: 0.313rem;
    margin-top: 0.313rem;
    width: 30%;
    &:hover{
        opacity: 0.8;
    }
}
.botones{
    font-size: 1.2rem;
    background-color: $colorPrimario;
    border-radius: 1rem;
    &:hover{
        background-color: rgba(147, 46, 242, 0.682);
        transition: 0.5s;
    }
}