* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
*::-moz-selection {
  background-color: rgb(241, 207, 18);
  color: black;
}
*::selection {
  background-color: rgb(241, 207, 18);
  color: black;
}

#boton_footer {
  font-size: 1.2rem;
  background-color: rgb(241, 207, 18);
  border-radius: 1rem;
  border-color: rgb(245, 11, 11);
  border: 15px;
  padding: 0.313rem;
  margin-top: 0.313rem;
  width: 30%;
}
#boton_footer:hover {
  opacity: 0.8;
}

.botones {
  font-size: 1.2rem;
  background-color: rgb(241, 207, 18);
  border-radius: 1rem;
  border: 2px solid black;
}
.botones:hover {
  background-color: rgba(147, 46, 242, 0.682);
  transition: 0.5s;
}

/*boton ver mas index*/
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: white;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: white;
}

.botonArriba {
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 1;
  background-color: blueviolet;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.botonArriba img {
  width: 40px;
  margin-top: -2.5px;
}
.botonArriba:hover {
  background-color: rgb(241, 207, 18);
}

.card_vehiculos {
  background-color: whitesmoke;
  border-radius: 2rem;
  height: 23rem;
  width: 22rem;
  margin: 1.5rem;
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_vehiculos:hover {
  box-shadow: 5px 10px 16px 5px rgba(0, 0, 0, 0.563);
  cursor: pointer;
}
.card_vehiculos a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.card_vehiculos a img {
  width: 95%;
  border-radius: 2rem;
  border: solid 0.5px black;
}
.card_vehiculos a .linea {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.332);
  width: 95%;
  margin: 0.625rem;
}
.card_vehiculos a p {
  font-size: 1.5rem;
  color: #212529;
}

.card_destacados_vehiculos {
  background-color: rgb(241, 207, 18);
  border-radius: 2rem;
  height: 23rem;
  width: 22rem;
  margin: 1.5rem;
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_destacados_vehiculos:hover {
  box-shadow: 5px 10px 16px 5px rgba(0, 0, 0, 0.563);
  cursor: pointer;
}
.card_destacados_vehiculos a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.card_destacados_vehiculos a img {
  width: 95%;
  border-radius: 2rem;
  border: solid 0.5px black;
}
.card_destacados_vehiculos a .linea {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.332);
  width: 95%;
  margin: 0.625rem;
}
.card_destacados_vehiculos a p {
  font-size: 1.5rem;
  color: #212529;
}

.card_destacados {
  background-color: rgb(241, 207, 18);
  border-radius: 2rem;
  height: 23rem;
  width: 22rem;
  margin: 1.5rem;
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 18rem;
  margin: 0.625rem;
}
.card_destacados:hover {
  box-shadow: 5px 10px 16px 5px rgba(0, 0, 0, 0.563);
  cursor: pointer;
}
.card_destacados a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.card_destacados a img {
  width: 95%;
  border-radius: 2rem;
  border: solid 0.5px black;
}
.card_destacados a .linea {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.332);
  width: 95%;
  margin: 0.625rem;
}
.card_destacados a p {
  font-size: 1.5rem;
  color: #212529;
}

/*cambios carrusel bootstrap*/
#calecita {
  max-height: 85vh;
  width: 100%;
}

.titulo_index {
  color: white;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 5;
  -webkit-animation-name: entradaTitulo;
          animation-name: entradaTitulo;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.titulo_index h1 {
  font-weight: 500;
  font-size: 3rem;
}

.titulo2_index {
  font-size: 3rem;
  font-weight: 500;
  color: #212529;
  position: absolute;
  top: 10%;
  left: 22%;
  z-index: 5;
  -webkit-animation-name: entradaTitulo2;
          animation-name: entradaTitulo2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes entradaTitulo {
  0% {
    top: -100%;
  }
  35% {
    top: 10%;
  }
}

@keyframes entradaTitulo {
  0% {
    top: -100%;
  }
  35% {
    top: 10%;
  }
}
@-webkit-keyframes entradaTitulo2 {
  0% {
    top: -100%;
  }
  40% {
    top: 10%;
  }
}
@keyframes entradaTitulo2 {
  0% {
    top: -100%;
  }
  40% {
    top: 10%;
  }
}
.estructura {
  display: grid;
  grid-template-areas: "naveg  naveg" "seccion seccion" "foter foter";
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 0.01fr 1fr 0.01fr;
  background-color: black;
}

header {
  grid-area: naveg;
  background-color: black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
}

/*modificaciones al nav bootstrap*/
.logo {
  display: flex;
  flex-direction: column;
  margin-bottom: -0.938rem;
  margin-left: 1.375rem;
}
.logo img {
  background-color: rgb(241, 207, 18);
  padding-top: 0.188rem;
  margin-top: -0.813rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 8.813rem;
}
.logo .text {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 0px;
  margin-top: -0.438rem;
}

#menu {
  margin-top: 0.438rem;
}
#menu ul li :hover {
  background-color: rgb(241, 207, 18);
  border-radius: 1.3rem;
}
#menu ul li a {
  font-size: 1.1rem;
  padding: 0.625rem;
}
#menu ul li a:hover {
  color: black;
  transition: 0.35s;
}

#menu-desplegable {
  background-color: rgb(241, 207, 18);
  border-radius: 1rem;
  padding: 0px;
}
#menu-desplegable li a:hover {
  background-color: white;
  transition: none;
}

footer {
  grid-area: foter;
  background-color: black;
  padding: 3.125rem 0rem;
}
footer .contenedor_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  max-width: 1200px;
  margin-top: 3.125rem;
}
footer .contenedor_footer_caja {
  display: flex;
  flex-direction: column;
  padding: 1.875rem;
}
footer .contenedor_footer_caja .logo_footer {
  display: flex;
  flex-direction: column;
}
footer .contenedor_footer_caja .logo_footer img {
  background-color: rgb(241, 207, 18);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 173px;
  padding: 1px;
  padding-top: 5px;
}
footer .contenedor_footer_caja .logo_footer .text {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  padding: 0px;
  margin-top: -7px;
}
footer .contenedor_footer_caja h2 {
  margin-bottom: 0.625rem;
  color: #7a7a7a;
}
footer .contenedor_footer_caja a {
  text-decoration: none;
  color: #6c6a6a;
  margin: 0.313rem;
}
footer .contenedor_footer_caja a:hover {
  opacity: 0.8;
}
footer .contenedor_footer_caja a img {
  margin: 1px;
  margin-right: 5px;
}
footer .contenedor_footer_caja p {
  color: #6c6a6a;
  margin: 0.313rem;
}
footer .contenedor_footer_caja form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
footer .contenedor_footer_caja form div {
  width: 100%;
}
footer .contenedor_footer_caja form div input {
  font-size: 1rem;
  padding: 0.625rem;
  margin-top: -1.25rem;
  border-radius: 1rem;
  width: 100%;
}
footer .contenedor_footer_caja_copy {
  color: #7a7a7a;
  max-width: 1200px;
  text-align: center;
  margin: auto;
}
footer .contenedor_footer_caja_copy hr {
  background-color: #7a7a7a;
  border: none;
  height: 1px;
}

.contenedor_formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contenedor_formulario form {
  font-size: 1.2rem;
}
.contenedor_formulario div input {
  font-size: 1.2rem;
  padding: 0.625rem;
  border-radius: 1rem;
  width: 100%;
}
.contenedor_formulario div textarea {
  font-size: 1.2rem;
  padding: 0.625rem;
  border-radius: 1rem;
  width: 100%;
}

.cuerpo_index {
  grid-area: seccion;
  background-color: #ebebeb;
  padding-bottom: 2rem;
  margin-top: -1px;
}
.cuerpo_index h2 {
  font-size: 2.5rem;
  padding: 1.875rem;
  -webkit-text-decoration: blueviolet wavy underline;
          text-decoration: blueviolet wavy underline;
  width: 100%;
  margin-top: 4rem;
}
.cuerpo_index_destacados {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cuerpo_index_destacados_vermas {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
.cuerpo_index_destacados_vermas a {
  text-decoration: none;
}
.cuerpo_index_promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 1250px;
  margin-top: 10.375rem;
  margin-bottom: 8.25rem;
  gap: 0.625rem;
}
.cuerpo_index_promo_caja {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  text-align: center;
  background-color: rgba(108, 106, 106, 0.0901960784);
}
.cuerpo_index_promo_caja:hover {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.cuerpo_index_promo_caja img {
  padding-top: 5px;
}
.cuerpo_index_promo_caja p {
  color: black;
  font-size: 1.1rem;
}
.cuerpo_index_promo_caja .promo_titulo {
  color: blueviolet;
  font-size: 1.5rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-9 3:10:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}
.portada_vehiculos_desk {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
  margin-top: -101px;
}
.portada_vehiculos_mob {
  display: none;
}

.cuerpo_vehiculos {
  grid-area: seccion;
  background-color: #ebebeb;
  padding-top: 4rem;
  padding-bottom: 12.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.015)), url(../assets/imagenes/4877010.jpg);
  background-size: auto;
}
.cuerpo_vehiculos h1 {
  font-size: 2.5rem;
  margin-left: 5%;
  padding: 0.625rem;
}
.cuerpo_vehiculos h2 {
  font-size: 1.7rem;
  margin-left: 2%;
  padding: 0.625rem;
}
.cuerpo_vehiculos .dest {
  -webkit-text-decoration: blueviolet wavy underline;
          text-decoration: blueviolet wavy underline;
}
.cuerpo_vehiculos_estructura {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cuerpo_model {
  grid-area: seccion;
  background-color: #ebebeb;
  padding: 2.4rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cuerpo_model_contenedor {
  display: flex;
  max-width: 75rem;
  gap: 1%;
}
.cuerpo_model_contenedor_calecita {
  width: 70%;
}
.cuerpo_model_contenedor_calecita img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0.122rem 0.122rem 0.163rem;
}
.cuerpo_model .primeraDescripcion {
  background-color: white;
  width: 30%;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0.122rem 0.122rem 0.163rem;
}
.cuerpo_model .primeraDescripcion p {
  font-size: 1.6rem;
  color: #212529;
  margin: 0.625rem;
}
.cuerpo_model .primeraDescripcion .letratitu {
  color: blueviolet;
  font-size: 1.9rem;
  margin-bottom: -0.188rem;
}
.cuerpo_model .primeraDescripcion .letraSecun {
  font-size: 1.2rem;
  color: #6c6a6a;
}
.cuerpo_model .primeraDescripcion .linea {
  height: 0.063rem;
  background-color: rgba(0, 0, 0, 0.332);
  width: 95%;
  margin: 0.625rem;
}
.cuerpo_model .segundaDescripcion {
  background-color: white;
  max-width: 75rem;
  width: 100%;
  border-radius: 1rem;
  margin-top: 30px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0.122rem 0.122rem 0.163rem;
}
.cuerpo_model .segundaDescripcion h5 {
  font-size: 1.9rem;
  color: black;
}
.cuerpo_model .segundaDescripcion p {
  color: #6c6a6a;
  font-size: 1.2rem;
}
.cuerpo_model .segundaDescripcion p i {
  margin-right: 5px;
  color: blueviolet;
}
.cuerpo_model .volver {
  background-color: rgb(241, 207, 18);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cuerpo_model .volver i {
  font-size: 2rem;
  color: blueviolet;
}
.cuerpo_model .volver:hover {
  background-color: blueviolet;
  transition: 0.5s;
}
.cuerpo_model .volver:hover i {
  color: rgb(241, 207, 18);
  transition: 1s;
}

.contenedor_red {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor_red .red_contacto {
  background-color: rgb(241, 207, 18);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}
.contenedor_red .red_contacto:hover {
  background-color: blueviolet;
}
.contenedor_red .red_contacto:hover a {
  color: white;
}
.contenedor_red .red_contacto a {
  text-decoration: none;
  color: #212529;
  font-size: 1.2rem;
}
.contenedor_red .red_contacto a i {
  margin-right: 0.313rem;
  padding: 0.5rem;
  border-radius: 30%;
}

.fa-whatsapp {
  background-color: #25D366;
}

.fa-telegram {
  background-color: #34B7F1;
}

.portada_nuestraHistoria img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
  margin-top: -6.4rem;
}

.cuerpo_nuestraHistoria {
  grid-area: seccion;
  background-color: #ebebeb;
  padding: 2.5rem;
  padding-bottom: 8.25rem;
  padding-top: 6.25rem;
}
.cuerpo_nuestraHistoria h2 {
  font-size: 2.2rem;
  margin: 1.25rem;
  padding: 0.625rem;
  margin-top: 2.5rem;
  background-image: url(../assets/imagenes/resaltadorrecort.webp);
  background-repeat: no-repeat;
  background-size: 25.625rem;
  background-position-x: -1.25rem;
  background-position-y: -1.25rem;
}
.cuerpo_nuestraHistoria p {
  font-size: 1.5rem;
}
.cuerpo_nuestraHistoria_contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.cuerpo_nuestraHistoria_contenedor img {
  width: 25rem;
}
.cuerpo_nuestraHistoria_contenedor p {
  width: 60%;
  align-items: center;
}

.portada_encontranos img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
  margin-top: -6.25rem;
}

.cuerpo_encontranos {
  grid-area: seccion;
  background-color: #ebebeb;
  padding: 2.5rem;
  padding-bottom: 6.25rem;
}
.cuerpo_encontranos h2 {
  font-size: 2.5rem;
  margin: 1.25rem;
  padding: 0.625rem;
}
.cuerpo_encontranos div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.cuerpo_encontranos p {
  font-size: 1.5rem;
  width: 100%;
}

.cuerpo_contacto {
  grid-area: seccion;
  background-color: #ebebeb;
  padding: 2.4rem;
  padding-bottom: 6.25rem;
}
.cuerpo_contacto h2 {
  font-size: 2.5rem;
  margin: 1.25rem;
  margin-top: -0.625rem;
  padding: 0.625rem;
}
.cuerpo_contacto h3 {
  font-size: 1.8rem;
  margin: 1.25rem;
  margin-top: -1.25rem;
}
.cuerpo_contacto h4 {
  margin: 1.25rem;
}

.contenedor_formulario img {
  width: 65%;
  border-radius: 100%;
}

.caja_form {
  display: flex;
  gap: 8%;
  margin-bottom: 1.875rem;
}

@media screen and (max-width: 1182px) {
  .contenedor_formulario img {
    width: 55%;
  }
}
@media screen and (max-width: 990px) {
  .cuerpo_model_contenedor_calecita {
    width: 60%;
  }
  .cuerpo_model_contenedor .primeraDescripcion {
    width: 40%;
  }
}
@media screen and (max-width: 938px) {
  .contenedor_formulario {
    justify-content: center;
  }
  .contenedor_formulario img {
    width: 70%;
  }
  .cuerpo_model_contenedor {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cuerpo_model_contenedor_calecita {
    width: 100%;
  }
  .cuerpo_model_contenedor .primeraDescripcion {
    margin-top: 1.875rem;
    width: 100%;
  }
  .cuerpo_model_contenedor .red_contacto {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  body {
    background-color: black;
  }
  body nav {
    background-color: black;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .logo {
    margin-left: 0;
  }
  .titulo_index h1 {
    font-size: 2rem;
  }
  .titulo2_index {
    font-size: 2rem;
  }
  .portada_vehiculos_desk {
    display: none;
  }
  .portada_vehiculos_mob {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    display: block;
    height: 90vh;
  }
  .cuerpo_nuestraHistoria p {
    font-size: 1.2rem;
    width: 100%;
  }
  .portada_encontranos img {
    margin-top: -1.25rem;
  }
  .cuerpo_contacto h2 {
    font-size: 2rem;
  }
  .cuerpo_contacto h3 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .titulo_index h1 {
    font-size: 1.5rem;
  }
  .titulo2_index {
    top: 10%;
    left: 8%;
    font-size: 1.7rem;
    text-shadow: 2px 2px 7px rgb(255, 255, 23);
  }
  .cuerpo_index h2 {
    font-size: 1.7rem;
    padding: 1.2rem;
  }
  .cuerpo_nuestraHistoria h2 {
    font-size: 1.7rem;
    margin: 0rem;
    margin-top: 3.125rem;
    margin-bottom: 1.25rem;
  }
  .cuerpo_nuestraHistoria p {
    font-size: 1.2rem;
    width: 100%;
  }
  .cuerpo_nuestraHistoria_contenedor img {
    width: 100%;
  }
  .portada_nuestraHistoria img {
    -o-object-position: 40%;
       object-position: 40%;
  }
  .cuerpo_encontranos h2 {
    font-size: 1.7rem;
    margin-left: 0;
  }
  .cuerpo_encontranos p {
    font-size: 1.2rem;
  }
  .portada_encontranos img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 43.75rem;
  }
  .cuerpo_contacto {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .cuerpo_contacto h2 {
    margin: 0;
  }
  .cuerpo_contacto h3 {
    margin: 0;
    margin-bottom: 1.25rem;
  }
  .cuerpo_contacto h4 {
    margin: 0;
    margin-bottom: 1.875rem;
  }
  .contenedor_formulario img {
    width: 100%;
  }
  .cuerpo_model {
    padding: 0.625rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  .cuerpo_model_contenedor {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cuerpo_model_contenedor_calecita {
    width: 100%;
  }
  .cuerpo_model_contenedor .primeraDescripcion {
    margin-top: 1.875rem;
    width: 100%;
  }
  .cuerpo_model_contenedor .red_contacto {
    width: 100%;
  }
}
@media screen and (max-width: 480px) and (max-width: 350px) {
  .logo img {
    width: 6.813rem;
  }
  .logo .text {
    font-size: 1.57rem;
  }
  .titulo_index h1 {
    font-size: 1.2rem;
  }
  .titulo2_index {
    font-size: 1.2rem;
  }
  .cuerpo_index h2 {
    font-size: 1.5rem;
    padding: 1.2rem;
  }
  .cuerpo_vehiculos_estructura {
    gap: 1.25rem;
  }
  .card_vehiculos {
    height: 20rem;
    width: 18rem;
    margin: 0.625rem;
  }
  .card_destacados_vehiculos {
    height: 20rem;
    width: 18rem;
    margin: 0.625rem;
  }
  .portada_nuestraHistoria img {
    margin-top: -5rem;
  }
  .cuerpo_nuestraHistoria {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .cuerpo_encontranos {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .cuerpo_contacto {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
}
@media screen and (max-width: 275px) {
  .card_destacados {
    height: 18rem;
    width: 16rem;
    margin: 0.625rem;
  }
  .card_vehiculos {
    height: 18rem;
    width: 16rem;
    margin: 0.625rem;
  }
  .card_destacados_vehiculos {
    height: 18rem;
    width: 16rem;
    margin: 0.625rem;
  }
}/*# sourceMappingURL=main.css.map */