$letra:'Josefin Sans', sans-serif;
$colorPrimario:rgb(241, 207, 18);
$color2:black;
$color3:white;
$colorDestacado:blueviolet;
$colorLetra1: white;
$colorLetra2:black;
$colorLetraTex:#212529;
$colorFondo:#ebebeb;
$colorFooter:black;
$colorFooterletratitulo:#7a7a7a;
$colorFooterletra:#6c6a6a;